[Unit]
Description=Proxy Service
After=network.target

[Service]
WorkingDirectory=/home/pi/ProxyFunc
ExecStart=/usr/bin/node index.js
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target